header {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

header h1 {
    font-size: 8vh;
    margin-bottom: 20px;
}

.screen-size {
    background-color: transparent;
    border-color: transparent;
    border: 0px;
    padding: 0px 6px 0 0;
}

body {
    background-color: darkturquoise;
}

.input-labels {
    width: 80px;
}

.input-inputs {}

#timerSection {
    text-align: center;
    line-height: 1.2;
}

.input-form {}

#repsDisplay {
    font-size: 32px;
}

#repsDisplayLabel {
    width: 100%;
    margin: 0px;
    font-size: 24px;
}

#repsDisplaySpan {
    font-size: 40px;
}

#setsDisplay {
    font-size: 24px
}

#setsDisplayLabel {
    width: 100%;
    margin: 0px;
}

#setsDisplaySpan {
    font-size: 40px;
}

#timeDisplay {
    font-size: 132px;
}

button {
    font-size: 24px;
}

#toby-image {
    width: 100%;
}

#toby-sleeping {
    width: 100%;
}