header {
    text-align: center;
}

header h1 {
    font-size: 52px;
}

body {
    background-color: darkturquoise;
}

.input-labels {
    width: 80px;
}

#timerSection {
    text-align: center;
    line-height: 1.2;
}

#repsDisplay {
    font-size: 32px;
}

#repsDisplayLabel {
    width: 100%;
}

#repsDisplaySpan {
    font-size: 64px;
}

#setsDisplay {
    font-size: 24px
}

#setsDisplayLabel {
    width: 100%;
}

#setsDisplaySpan {
    font-size: 40px;
}

#timeDisplay {
    font-size: 160px;
}

#completeMessage {
    margin: 20px;
    font-size: 32px;
}

#toby-image {
    width: 100%;
}